body {
    background-color: #e2e4f3;
    color: #0a0a0a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    min-width: 300px;
}

input:invalid {
    border: 1px solid #da6262;
}

.error {
    text-align: center;
    color: #8f1010;
}

.result-text {
    margin-left: 5px;
    font-weight: bold;
    color: #2a0b99;
}
